@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", "Inter", sans-serif;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.container {
  flex-direction: column;
  width: 1440px;
  margin: auto;
}
.hero {
  background-image: url("./images/HeroImage.png");
  width: 100%;
  height: 770px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin-bottom: 0; */
}

.logo {
  margin: 33px 0 33px 118px;
}
.action_container {
  gap: 24px;
  color: white;
  font-size: 18px;
  margin: 39px 0;
}
.en {
  margin: 30px 118px 30px 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 600px;
  font-family: sans-serif;
}
.text {
  color: white;
  flex-direction: column;
  margin-top: 69px;
}
.t1 {
  font-size: 80px;
  opacity: 80%;
}
.t2 {
  font-size: 250px;
  line-height: 80%;
}
.t3 {
  font-size: 64px;
  opacity: 90%;
}

.location {
  background-image: url(./images/Locationimage.png);
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
  /* margin-top: 1px; */
  gap: 40px;
}
.overlay {
  width: 100%;
  height: 100%;
  color: #fdfdfecc;
  font-size: 37px;
  text-align: center;
}
.loc_text {
  width: 80%;
}

.overlay:hover {
  background-color: #29292966;
  border-radius: 40px;
  color: #ffffff;
}
.card {
  width: 275px;
  height: 340px;
  border: 1px solid white;
  border-radius: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  box-shadow: 7px 7px#29728b40, -6px -6px #1f72aa75;
  /* margin: 0 10px; */
}

.c1 {
  background-image: url("./images/1.png");
}
.c2 {
  background-image: url("./images/2.png");
}
.c3 {
  background-image: url("./images/3.png");
}
.c4 {
  background-image: url("./images/4.png");
}

.roadmap {
  background-image: url("./images/Roadmapimage.png");
  height: 770px;
  width: 100%;
  /* background-repeat: no-repeat; */
  background-size: contain;
  background-position: center;
  flex-direction: column;
  position: relative;
  /* margin-bottom: 1px; */
}
.map {
  display: block;
  position: absolute;
  right: 38%;
  top: 30%;
}
.map1 {
  display: block;
  position: absolute;
  right: 45%;
  top: 45%;
}
.map2 {
  display: block;
  position: absolute;
  right: 24.5%;
  top: 42%;
}
.map3 {
  display: block;
  position: absolute;
  right: 35%;
  top: 65%;
}

.head {
  width: 1440px;
  height: 85px;
  /* text-align: center; */
  flex-direction: column;
}
.te1 {
  font-size: 42px;
  font-weight: 600;
  font-family: "Inter";
}
.te2 {
  font-size: 20px;
  font-family: "Inter";
  font-family: 500;
  color: #18181bb2;
}
.box {
  width: 500px;
  height: 640px;
  /* border: 1px solid black; */

  flex-direction: column;
  gap: 10px;
  margin-left: 120px;
  margin-top: 59px;
}
.item {
  height: fit-content;
  border-radius: 120px;
  background-color: #eee9d9;
  padding: 30px;
  border: 3px solid #eee9d9;
}
.Inter {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500px;
}
.gap {
  gap: 12px;
}

.Mont {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400px;
}
.display-none {
  display: none;
}

.item:hover + .picture {
  display: block;
  position: absolute;
  right: 19%;
  top: 29%;
  z-index: 1;
}
.item:hover + .map {
  opacity: 0;
}
.item:hover {
  border-color: white;
}

.img {
  margin-left: 10px;
}
.day {
  background-color: white;
  height: 52px;
  width: 52px;
  font-size: 14px;
  border-radius: 100%;
  font-family: "Overpass";
}
.item2 {
  background-color: #8bb8c1cc;
  border: 3px solid #8bb8c1cc;
  /* border-style: hidden; */
}

.item:hover + .picture2 {
  display: block;
  position: absolute;
  right: 29%;
  top: 17%;
  z-index: 1;
}

.item3 {
  background-color: #aad8d7cc;
  border: 3px solid #aad8d7cc;
}
.item:hover + .picture3 {
  display: block;
  position: absolute;
  right: 35%;
  top: 30%;
  z-index: 1;
}
.item4 {
  background-color: #8bc0bdcc;
  border: 3px solid #8bc0bdcc;
}

.item5 {
  background-color: #97cce0cc;
  border: 3px solid #97cce0cc;
}
.item:hover + .picture5 {
  display: block;
  position: absolute;
  right: 25%;
  z-index: 1;
}

.footer {
  background-image: url("./images/Price&Footerimage.png");
  /* height: 1120px; */
  width: 100%;
  flex-direction: column;
  gap: 79px;
}
.head2 {
  /* height: 85px; */
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
.Inter-40 {
  font-family: "Inter";
  font-size: 42px;
  font-weight: 600;
}
.Inter-20 {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  color: #18181bb2;
  opacity: 70%;
}
.package {
  width: 1200px;
  height: 527px;
  /* flex-direction: row; */
  /* border: 1px solid red; */
  gap: 24px;
}
.board {
  flex-direction: column;
  width: 384px;
  height: 527px;
  background-color: white;
  border-radius: 40px;
}
.board:hover {
  /* background-color: #1f72aa75;
   */
  box-shadow: 8px 8px#29728b40, -8px -8px #29292966;
}
.board:hover .button {
  background-color: #3f3a3a;
  color: white;
}
.type {
  /* height: 92px; */
  /* border: 1px solid red; */
  gap: 16px;
  padding: 30px;
}
.Inter-18 {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
}
.core {
  height: 290px;
  gap: 32px;
  margin: 0 24px;
}
.price {
  flex-direction: column;
  height: 78px;
  /* border: 1px solid red; */
}
.Mont-40 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 600;
}
.Inter-16 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  color: #919191;
}
.includes {
  height: 180px;
  flex-direction: column;
  gap: 16px;
  /* border: 1px solid red; */
}

.Inter-14 {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  color: #3f4145;
}
.desc {
  gap: 20px;
}
.button {
  height: 48px;
  width: 336px;
  background-color: #a4d1e2;
  border-radius: 60px;
  margin: 0 24px;
}
.button:hover {
  background-color: #3f3a3a;
  color: white;
}
.Inter-16a {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
}
.button-pri {
  width: 91px;
  height: 27px;
  background-color: #6972b5;
  border-radius: 60px;
  font-family: "Inter";
  font-size: 16px;
  color: white;
}

.nar_box {
  width: 1200px;
  margin-bottom: 80px;
  margin-top: 150px;
  align-items: center;
}
.social {
  gap: 20px;
}
.fb {
  height: 44px;
  width: 167px;
  background-color: #fafbfc;
  border-radius: 60px;
  gap: 10px;
}
.Mont-18 {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  color: #6972b5;
}
